*,
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

#title {
    font-size: 1.6rem;
    text-align: center;
}

.div {
    align-self: center;
    margin: 2rem 0;
    background-color: #ffffff;
    width: 90%;
    height: 125px;
    border: 8px solid rgba(0, 128, 0, 0.5);
    border-radius: 8px;
    margin-bottom: 0;
}

.active-cases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h2,
h1,
h3,
h4 {
    margin: 0;
}

.sub-div {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.sub-div div {
    /* border: 1px solid green; */
    border-radius: 8px;
    border-collapse: collapse;
    width: 50%;
    height: 75px;
    padding: 0.5rem;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h3 {
    align-self: center;
}

h4 {
    font-weight: 600;
    font-size: 0.9rem;
}

.day-info-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #ffffff;
    width: 85%;
    height: 115px;
    margin-top: 2rem;
    align-self: center;
}

.cases {
    border: 8px solid rgba(0, 128, 0, 0.5);
}

.deaths {
    border: 8px solid rgba(255, 0, 0, 0.8);
}

.recovered {
    border: 8px solid rgba(170, 170, 170, 0.5);
}

@media (min-width: 680px) {
    .div {
        width: 56%;
        height: 125px;
    }
    .day-info-block {
        width: 50%;
        height: 115px;
    }
    h4 {
        font-size: 1rem;
    }
    .title {
        font-size: 1.8rem;
    }
}