body {
    font-family: "Noto Sans", sans-serif;
    background-color: #fff;
}

#all {
    margin-right: auto;
    margin-left: auto;
    max-width: 750px;
}

h6 {
    font-size: 0.8rem;
}

#conteiner {
    height: 107px;
}

.active-cases {
    display: flex;
    justify-content: center;
    align-items: center;
}